body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #381bdb, #1d80c2);
}

code {
  font-family: 'Source Sans Pro', sans-serif;
}
